.characterCard {
  background-color: #3c3e44;
  display: flex;
  border-radius: 20px;
  border-style: solid 3px white;
  margin: 2rem;
}

.picture {
  width: 250px;
  aspect-ratio: 1/1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#infoContainer {
  display: flex;
  box-sizing: content-box;
  height: 250px;
}

.pictureContainer {
  display: flex;
  height: 250px;
}
